/* FormComponent.css */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

.form-heading {
    color: #000; /* text-black equivalent */
  font-size: 1.5rem; /* text-2xl equivalent */
  font-weight: bold; /* font-bold equivalent */
  font-family: 'Inter', sans-serif; /* font-['Inter'] equivalent */
    margin: 10px 0;
  }

.asterisk {
    color: #e3342f;
    font-size: 0.75rem;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
}
  
.information {
    color: #a0aec0;
    font-size: 10px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
}
  
.required {
    color: #000;
    font-size: 0.75rem;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
}

.parent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.child {
    flex-shrink: 1;
    white-space: nowrap;
}

.subheader {
    color: #000; 
    font-size: 1.25rem; 
    font-weight: bold; 
    font-family: 'Inter', sans-serif; 
  }

  .check-with-text {
    display: flex;
    align-items: center; 
    gap: 8px; 
}

.check-with-text input[type="checkbox"] {
   
}

.check-with-text label {
    color: #a0aec0; 
    font-size: 15px; 
    font-weight: normal; 
    font-family: 'Inter', sans-serif; 
    text-decoration: underline; 
}
  