#mainpage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: calc(100vh - 40px);
  padding: 0;
  margin: 0;
  background-color: white;
}

.form-container {
  box-sizing: border-box;
  padding: 20px;
  width: 100%;
  max-width: 600px;
  height: calc(100vh - 40px);
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .form-container {
    width: 33.33%;
    max-width: 33.33%;
  }
}
