#mainpage {
  display: flex;
  flex-direction: column; /* This will arrange the child elements in a column */
  align-items: center; /* This will center the child elements horizontally */
  justify-content: flex-start; /* This aligns children to the top of the container */
  height: calc(100vh - 40px); /* Assuming the header is 96px */
  padding: 0;
  margin: 0;
  background-color: white;
}

.form-container {
  width: 33.33%; /* Takes up one third of the mainpage width */
  max-width: 33.33%; /* Ensures that the width does not exceed one third */
  /* Full available height taking into account the header and any additional margins you may want. */
  height: calc(100vh - 40px); /* Adjust this value if your header is a different height */
  box-sizing: border-box; /* Includes padding in the width calculation */
  display: flex;
  flex-direction: column; /* Arranges children of form-container in a column */
}

.form-heading {
  font-weight: bold;
  margin: 20px 0; /* Adds some space below the heading */
}
