#mainpage {
  height: calc(100vh - 40px);
  padding: 0;
  margin: 0;
  background-color: white;
}

.form-container {
  display: block;
  margin: 0 auto;
  box-sizing: border-box;
  width: 100%;
  max-width: 600px;
  flex-direction: column;
  overflow-y: auto; 
  min-width: 200px;
  padding: 30px;
}

/* @media (min-width: 768px) {
  .form-container {
    width: 33.33%;
    max-width: 33.33%;
  }
} */
