.form-item{
    margin-right: 10px;
    flex-grow: 1;
    /* border: solid black 2px; */
    width: 100%;
}

.form-item span{
    display: block;
}

.form-item:last-child{
    margin-right: 0px;
}

.input-style{
    /* border: solid blue 2px; */
    width: 100%;
}

.date-height{
    /* height: 10px; */
    /* border: solid blue 2px; */
    background-color: rgb(137, 137, 220); 
    

}